/* SCOREBOARD */
#scoreboard-goals {
    background-color: black;
    color: yellow;
    font-family: 'Digital-7 Mono', 'digital-7', 'digital-7 mono', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px; /* Adiciona um pouco de padding para evitar que o conteúdo fique muito perto das bordas */
}

.scoreboard {
    width: 100%;
    max-width: 300px; /* Define um tamanho máximo para manter o layout consistente */
    background-color: black;
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.country {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.country img {
    width: 100%; /* Ajusta a largura das bandeiras para 100% do contêiner */
    max-width: 150px; /* Define um tamanho máximo para as bandeiras */
    height: auto;
}

.score {
    font-size: 8em;
    margin: 10px 0;
}

.versus {
    background-color: yellow;
    height: 5px;
    width: 50%;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    .score {
        font-size: 5em; /* Reduz o tamanho da fonte para telas menores */
    }
    .country img {
        max-width: 100px; /* Reduz o tamanho das bandeiras em telas menores */
    }
}
